# ===== Python =====
__pycache__/
*.pyc
*.pyo

# ===== 虚拟环境 =====
.venv/
venv/
env/
.conda/

# ===== VS Code =====
.vscode/

# ===== 日志 / 临时文件 =====
*.log
*.tmp

# ===== 数据 / 模型 / 权重 =====
*.pt
*.pth
*.onnx
*.ckpt
*.jpg
*.png
kb/source/*.md
data/
dataset/
.env

# ===== 操作系统 =====
.DS_Store
Thumbs.db
